body{
  background-color: #2E86C1 ;
}

.sidebar{
  float: right;
  background-color: #17202A ;

  height: 100% ;


}
.title{
color: #F0F3F4;
}
.column{
float:left;
width: 30% ;
}
.images{
 float: center ;
}
.text-box{
  border: 2px
  solid ;
  background-color: #1A5276;
}
