body{
  background-color: #2E86C1 ;
}

.sidebar{
  float: right;
  background-color: #3498DB ;
  background-blend-mode:luminosity;

}
.title{
color: #873600;
}
.column{
float:left;
width: 30% ;
}
.images{
  float: center ;
}
